.miniForm{
  /*display:flex;
  flex-direction: row;
  justify-content: space-around;*/
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  /*border: 1px solid red;*/
}

.miniLoginButton{
  margin: 5% auto;
}