
<div class="landingMain">
  <div class="banner" style="background-color: teal; color:white">
    <div class="bannerContent">
      <h3>Follow your interests</h3>
      <h3>Hear what people are talking about</h3>
      <h3>Join the conversation</h3>
    </div>
  </div>


  <div class="banner">
    <div class="bannerContent">
      <app-login-form (loginCredentials)="onLogin($event)"></app-login-form>
      <h1>See what's happening right now</h1>
      <h2>Join Chirp today</h2>
      <div class="wideButtonGroup">
        <a [routerLink]="['signup']"><button mat-stroked-button class="wideButton">Sign Up</button></a>
        <!--
        <button mat-stroked-button class="wideButton">Login</button>
        -->
      </div>
    </div>
  </div>
</div>