<div class="followersPageMain">
    <app-side-nav (signout)="signOut($event)"></app-side-nav>
    <div class="followersFollowingSection">
        <mat-tab-group>
            <mat-tab label="Followers">
                <div *ngFor="let follower of followers"> 
                    <app-user-tile [userData]="follower"></app-user-tile>
                </div>
            </mat-tab>

            <mat-tab label="Following">
                <div *ngFor="let following of following">
                    <app-user-tile [userData]="following"></app-user-tile>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>