<mat-card>
    <div>
        <img [src]="getProfilePicture()" alt="profile picture"/>
    </div>
    <mat-card-content>
        <h2>{{userDetails.userName}}</h2>
        <mat-chip-list>
            <a routerLink="/profile/followers">
                <mat-chip >{{userDetails.followers.length}} Followers</mat-chip>
            </a>
            <a routerLink="/profile/following">
                <mat-chip >{{userDetails.following.length}} Following</mat-chip>
            </a>
            
            
        </mat-chip-list>
    </mat-card-content>
</mat-card>
