<mat-card>
    <div>
        <img [src]="getProfilePicture()" alt="profile picture"/>
    </div>
    <mat-card-content>
        <h2>{{userDetails.userName}}</h2>
        <mat-chip-list>
            
            <mat-chip routerLink="/profile/followers">{{userDetails.followers.length}} Followers</mat-chip>
          
           
            <mat-chip routerLink="/profile/following">{{userDetails.following.length}} Following</mat-chip>
            
            
        </mat-chip-list>
    </mat-card-content>
</mat-card>
